.content {
  display: grid;
  grid-template-columns: 57% 43%;
}

.form {
  margin: 10px;
}

input {
  width: 46%;
  height: 29px;
  margin: 0 10px 10px 0;
  background: #E8E8E8;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
}

textarea {
  width: 95%;
  max-width: 95%;
  height: 75px;
  margin: 0 10px 10px 0;
  background: #E8E8E8;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
}

.button-form {
  width: 47.2%;
  height: 24px;
  margin-right: 10px;
  color: #FFFFFF;
  background: #696969;
  border: 1px solid #696969;
  border-radius: 5px;
}

.button-form:hover {
  background: #263646;
}

.statistics {
  margin-bottom: 40px;
  font-size: 14px;
}

.statistics > p > span {
  font-weight: bold;
}

.message-from-api {
  background: #b4e4e4;
  border-radius: 5px;
}

.s-18 {
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 976px) {
  input {
    width: 95%;
  }
}

@media (max-width: 600px) {
  .content {
    margin-left: 5%;
    width: 90%;
    display: flex;
    flex-direction: column-reverse;
  }
}